body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
}
#message {
  text-align: center;
  margin-left: 30%;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.square {
  border-radius: 30px;
}

#container {
  margin-top: 40px;
}

#reset {
  margin-top: 4px;
}
